/* -----------Global & <body> config.----------- */

:root{

  --cor0: #c5ebd6;
  --cor1: #83E1AD;
  --cor2: #3DDC84;
  --cor3: #2FA866;
  --cor4: #1A5C37;
  --cor5: #063d1e;

  --fonte0: Arial, Helvetica, sans-serif;
  --fonte1: 'Bebas Neue', cursive;
  --fonte2: 'Android', sans-serif;

}


*{
  margin: 0px;
  padding: 0px;
  
}


@font-face {
  font-family: "Android";
  src: url("fontes/idroid.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body {
  background-color: var(--cor0);
  font-family: var(--fonte0);
  color: var(--cor0);
  margin: 0;
  text-align: center;
}

p{
  margin: 15px 0px;
  text-align: justify;
  text-indent: 30px;
  line-height: 2em;
  font-size: 1.1em;
}

a.externo::after{
  content: '\1F517';

}

/* -----------<header> config.----------- */

header {
  font-family: var(--fonte0);
  color: var(--cor0);
  text-align: center;
  background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
  min-height: 150px;
  padding-top: 40px;
}

#titulo-principal{
  font-family: var(--fonte1);
  font-weight: normal;
  color: var(--cor0);
  font-size: 3em;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);
  margin-bottom: 30px;

}

.subtitulo-header{
  font-size: 1.2em;
  font-weight: lighter;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);
  max-width: 600px;
  margin: auto;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

/* -----------<nav> config.----------- */

nav {
  text-align: center;
  padding: 10px;
  background-color: var(--cor5);
  box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.363);
}

nav > a{
  color: var(--cor0);
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
  transition-duration: .5s;
  
}

nav > a:hover{
  background-color: var(--cor3);
  color: var(--cor5);
}

/* -----------<main> config.----------- */

main{
  min-width: 300px;
  max-width: 1000px;
  background-color: white;
  padding: 20px;
  color: black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px ;

  margin: auto;
  margin-bottom: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
}

.titulo-main{
  font-family: "Android", sans-serif;
  color: var(--cor4);
  font-size: 2em;
  font-weight: normal;
}

.subtitulo-main{
  font-family: "Android", sans-serif;
  font-size: 1.3em;
  font-weight: normal;
  color: var(--cor5);
  text-align: left;
  margin: 10px 20px;
  background-image: linear-gradient(to right, var(--cor1), transparent);
  padding: 5px;
  text-indent: 6px;
}

  main a{
    text-decoration: none;
    font-weight: bold;
    background-color: var(--cor1);
    padding: 2px 6px;
  }

  main a:hover{
    text-decoration: underline;
    color: var(--cor4);
  }

  main > img{
    max-width: 350px;
    margin-top: 20px;
    display: block;


  }

  main img.pequena{
    width: 50%;
    margin: auto;
    display: block;

  }

  main strong{
    color: var(--cor4);
    font-weight: bold;
  }

  div.video{
    position: relative;
    background-color: var(--cor4);
    height: 0px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 59px;
    padding-bottom: 59%;
  }

  div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
  }

  /* -----------<aside> config.----------- */

  aside{
    font-family: var(--fonte0);
    background-color: var(--cor1);
    color: black;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
  }

  .titulo-aside{
    background-color: var(--cor5);
    font-size: 16px;
    color: var(--cor0);
    text-align: left;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    
  }

  aside ul{
    list-style-type: '\2714\0020\0020'; /*Emojipedia Unicode U+2714 + 0020= Espaço em branco*/
    columns: 2;
    list-style-position: inside; /*Inclui os marcadores dentro da caixa*/
  }

  aside a{
    text-decoration: none;
  }

  aside a:hover{
    text-decoration: underline;
  }

  /* -----------<footer> config.----------- */

  footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
  }

  footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
  }

  footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
  }




